/* <head>
            <title>Mahdarah Silverstein</title>
    </head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <a href="gamelist.html" class="button">Games </a>
    <a href="index.html" class="button">Articles</a>
    <br>
*/
* {
    font-family:Verdana;
    color:#bcadbc;
    text-align: center; 
    text-decoration: none; 
}

body {
    background: linear-gradient(to top left, #336699 0%, #000066 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.articletext{
    text-align:left; 
    word-wrap: break-word;
    font-size:2em;
}
.start{
    padding-top:25px ;
}

.button {
    color:#339966;
    font-size:1em;
}

.articles{
    display:flex;
    flex-direction:column-reverse;  
    align-items: center;
    justify-content: center;    
}
.articles>div{
    text-align: center;
    margin: .7em;
    padding:.5em;
    font-size: 2em;
    flex-wrap:wrap;
}
.gamelist {
    display:flex;
    flex-direction:column-reverse;  
    align-items: center;
    justify-content: center; 
}
.gamelist>div{
    font-size:2.5em;
    padding:.5em;
}


buttons {
    color:aliceblue;
}

p.thick{
    font-weight: 900
    
}

a.link { 
    background:none;border:none; 
    font-size:2.4em; 
    text-decoration: none;
}

a:hover {
    color:#5e0020;
    
}